---
import { empresas } from "../../data/empresasData.js";
---

<section class="py-16 bg-gray-50">
  <div class="max-w-6xl mx-auto text-center px-6">
    <h2 class="text-3xl md:text-4xl font-bold text-blue mb-10">
      We Accept Most Major Insurances
    </h2>

    <div
      class="flex gap-10 md:gap-10 justify-items-center items-stretch mb-8 flex-wrap justify-center"
    >
      {
        empresas.map((empresa) => (
          <div class="text-3xl text-white flex grow font-bold items-center justify-center hover:grayscale-0 transition duration-300 bg-lightblue md:basis-1/4 py-12 px-4 rounded-4xl" >
            {empresa.nombre}
          </div>
          
/*           <div class="flex font-bold items-center justify-center grayscale hover:grayscale-0 transition duration-300">
            <img
              src={empresa.logo}
              alt={empresa.nombre}
              class="h-14 md:h-16 object-contain rounded-4xl"
              loading="lazy"
            />
          </div> */
        ))
      }
      
    </div>
    <a href="#contact" class="text-3xl font-bold underline text-blue">Learn more about hospice care coverage</a>
  </div>
</section>
