---
//import { testimonials } from "../../data/testiomonialsData.js";
---

<section id="testimonials" class="py-16 bg-gray-50">
  <div class="max-w-7xl mx-auto px-6">
    <div class="text-center mb-12">
      <h2 class="text-3xl md:text-4xl font-bold text-blue mb-6">
        Family Testimonials
      </h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-12">
      <!-- Step 1 -->
      <div class="flex flex-col bg-white rounded-4xl shadow-md p-6 hover:shadow-lg transition justify-between">
        <div>
        <div class="flex items-center justify-center w-18 h-18 text-white rounded-full text-xl font-bold mb-4 mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320"><path d="M82.87 129.48S77.32 98.96 114.31 74c-12.95 0-89.7 30.52-89.7 113.74 0 33.09 27.59 59.73 61.01 58.19 29.85-1.37 54.07-25.6 55.44-55.45 1.54-33.41-25.1-61-58.19-61zm154.26 0S231.58 98.96 268.57 74c-12.95 0-89.7 30.52-89.7 113.74 0 33.09 27.58 59.73 61.01 58.19 29.85-1.37 54.07-25.6 55.44-55.45 1.54-33.41-25.1-61-58.19-61z" fill="#74B2DF"></path></svg>
        </div>
        

        <p class="text-grey leading-relaxed">
          I am deeply grateful for the exceptional care and support provided by Hospice and Palliative Care of California during my uncle's final days. From the moment we admitted him, their dedicated team demonstrated a profound commitment to both his comfort and our family's well-being. The transition into hospice care can be daunting, but the staff at Hospice and Palliative Care of California made it seamless and compassionate. Their expertise and genuine care were evident in every interaction. They crafted a personalized care plan that addressed my uncle's needs with remarkable attentiveness and sensitivity. Every detail, from pain management to emotional support, was handled with professionalism and heartfelt concern.
        </p>
        </div>
        <h3 class="text-xl font-bold text-grey mt-10 mr-auto mb-3">
          -Brian M.
        </h3>
      </div>

      <!-- Step 2 -->
             <div class="flex flex-col bg-white rounded-4xl shadow-md p-6 hover:shadow-lg transition justify-between">
        <div>
        <div class="flex items-center justify-center w-18 h-18 text-white rounded-full text-xl font-bold mb-4 mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320"><path d="M82.87 129.48S77.32 98.96 114.31 74c-12.95 0-89.7 30.52-89.7 113.74 0 33.09 27.59 59.73 61.01 58.19 29.85-1.37 54.07-25.6 55.44-55.45 1.54-33.41-25.1-61-58.19-61zm154.26 0S231.58 98.96 268.57 74c-12.95 0-89.7 30.52-89.7 113.74 0 33.09 27.58 59.73 61.01 58.19 29.85-1.37 54.07-25.6 55.44-55.45 1.54-33.41-25.1-61-58.19-61z" fill="#74B2DF"></path></svg>
        </div>
        

        <p class="text-grey leading-relaxed">
          “The entire Hospice and Palliative Care of California team was amazing with the care of my 96 year-old father (who has now passed), and my 89-year-old mother. The team was compassionate and professional... starting from the office employees who answered the phones, the weekly nurse visits, the off-duty nurses, the wound care specialist, and the bathing aid specialist. They all went above and beyond offering warmth and dignity in every visit. When we had an emergency situation with my father, I called the office and they either came out to see my dad the same night or the next morning, giving me and my family so much peace of mind. They always acted with a sense of urgency, especially when delivering medications and medical equipment. Their assistance was truly exceptional; I would wholeheartedly recommend their facility.”
        </p>
        </div>
        <h3 class="text-xl font-bold text-grey mb-3 mt-10">
           - Blanca M.
        </h3>
      </div>


      <!-- Step 3 -->             <div class="flex flex-col bg-white rounded-4xl shadow-md p-6 hover:shadow-lg transition justify-between">
        <div>
        <div class="flex items-center justify-center w-18 h-18 text-white rounded-full text-xl font-bold mb-4 mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320"><path d="M82.87 129.48S77.32 98.96 114.31 74c-12.95 0-89.7 30.52-89.7 113.74 0 33.09 27.59 59.73 61.01 58.19 29.85-1.37 54.07-25.6 55.44-55.45 1.54-33.41-25.1-61-58.19-61zm154.26 0S231.58 98.96 268.57 74c-12.95 0-89.7 30.52-89.7 113.74 0 33.09 27.58 59.73 61.01 58.19 29.85-1.37 54.07-25.6 55.44-55.45 1.54-33.41-25.1-61-58.19-61z" fill="#74B2DF"></path></svg>
        </div>
        

       <p class="text-grey leading-relaxed">
          I want to extend my heartfelt thank you's to Hospice and Palliative Care of California for the exceptional care provided to my grandmother, even though it was only for a few days. The compassion and dedication of the nurses, hospice aides, social worker, and chaplain made a profound difference during a very difficult time for our family. Your attention to her needs and the comfort you provided was truly remarkable. Although I don't recall the names of the staff, please know that your kindness and support will always be remembered with deep appreciation. Thank you for making her final days as peaceful as possible.

      </div>
        <h3 class="text-xl font-bold text-grey mb-3 mt-10">
           - Kaitlyn O.
        </h3>
    </div>
</div>
    <div class="text-center">
      <a
        href="#contact"
        class="px-6 py-3 bg-blue hover:bg-green-800 text-white font-semibold rounded-3xl transition inline-block "
      >
        Get in touch
      </a>
    
  </div>
</section>
