---
const year = new Date().getFullYear();
---

<footer class="bg-lightblue text-white md:mt-20 rounded-t-[4.5rem]">
  <div
    class="max-w-6xl mx-auto px-24 md:px-6 py-12 flex flex-row flex-wrap justify-between md:items-start  gap-y-10 md:gap-8 items-stretch"
  >
    <!-- LOGO -->
     <div class="md:basis-2/7">
      <h3 class="basis-full grow text-xl font-bold text-white mb-2">Quick Links</h3>
      <hr class="w-10  mb-6">
      <nav class="grid md:grid-cols-2 gap-4 text-left">
      <a href="/" class="hover:text-green-300 font-bold transition">Home</a>
      <a href="#contact" class="hover:text-green-300 font-bold transition">Contact Us</a>
      <a href="/blog" class="hover:text-green-300 font-bold transition">Hospice FAQ</a>
      <a href="#testimonials" class="hover:text-green-300 font-bold transition">Testimonials</a>
      <a href="#about-hospice" class="hover:text-green-300 font-bold transition">About Hospice Care</a>
      </nav>
    </div>

    <!-- LINKS -->
     <div class="md:basis-2/7">
      <h3 class="basis-full grow text-xl font-bold text-white mb-2">Contact Info</h3>
      <hr class="w-10  mb-6">
      <p>(949) 664-9916</p><br>
      <p>23201 Lake Center Drive Suite 110<br>
        Lake Forest, CA 92630
      </p><br>
      <p>
        Email : info@ca-hospice .com
      </p>
      </nav>
    </div>

    <!-- REDES SOCIALES -->
    <div class="flex flex-col items-center md:items-start">
      <div class="flex gap-4 justify-center md:justify-start cursor-pointer">
        <!-- IG -->
        <a href="https://www.instagram.com/hospiceofcalifornia/" class="text-white hover:text-gray-300 transition">
          <img src="./icons/Instagram_white.svg" alt="Instagram">
        </a>

        <!-- Facebook -->
        <a href="https://www.facebook.com/people/Hospice-Palliative-Care-of-California/100066499778966/" class="text-white hover:text-gray-300 transition">
          <img src="./icons/Facebook_white.svg" alt="Facebook">
        </a>
        <!-- LInkedin -->
        <a href="https://www.linkedin.com/company/hospice-palliative-care-of-california/?viewAsMember=true" class="text-white hover:text-gray-300 transition">
          <img src="./icons/LinkedIN_white.svg" alt="LinkedIN">
        </a>
        <a href="https://www.yelp.com/biz/hospice-and-palliative-care-of-california-lake-forest" class="text-white hover:text-gray-300 transition">
          <img src="./icons/Yelp_white.svg" alt="Yelp">
        </a>

      </div>
    </div>
  </div>

  <div
    class="border-t border-white mt-6 pt-4 text-center text-sm text-gray-300"
  >
    © {year} Your Company — All rights reserved.
  </div>
</footer>
